<!DOCTYPE html>
<html>
  <head>
    <title>AllRubyBooksReact</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag    'books' %>
    <%= stylesheet_pack_tag    'books' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
